[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
flake8 = "==3.7.8"
gitchangelog = "==3.0.4"
isort = "==4.3.21"
pytest = "==5.2.0"
flit = "==3.0.0"
twine = "==3.2.0"
wheel = "==0.35.1"
bump2version = "==1.0.1"
mypy = "==0.790"

[packages]

[requires]
python_version = "3.6"
